/* Variables Start */
:root {
    --primary-dark: #1a1a1a;
    --bg-gray: #f4f4f4;
}
/* Variables End */

.card {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    font-family: sans-serif;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1); 
}

/* The Drawer */
.discount-drawer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    /* Glass effect */
    z-index: 10;
    transform: translateY(100%);
    /* Start hidden below */
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.discount-drawer.active {
    transform: translateY(0);
    /* Slide up */
}

.discount-list {
    list-style: none;
    padding: 0;
    font-size: 13px;
}

.discount-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* Cards Elements */
.product-name {
    background-color: var(--bg-gray);
    border-radius: 15px;
    padding: 20px;
    float: left;
}

.badge {
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 10px;
    float: left;
}

.product-image {
    background-color: var(--bg-gray);
    border-radius: 15px;
    padding: 20px;
    float: left;
}

.product-image > img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    display: block;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 ;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
}

.rating {
    background: #fff3e0;
    color: #ff9800;
    padding: 2px 6px;
    border-radius: 5px;
    font-weight: bold;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.qty-selector {
    flex: 1;
    background: var(--bg-gray);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}

.cart-btn {
    background: black;
    color: #f4f4f4;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.toggle-trigger {
    width: 100%;
    background: var(--primary-dark);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 8px;
}

